<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Invoice_Info</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet"   th:href="@{/main.css}">
    <script th:src="@{/js/script.js}"></script>

</head>
<body>
<br>

<div class="container">

    <hr>
    <table>
        <tr>
            <td>Date</td>
            <td th:text="${timestamp}"/>
        </tr>
        <tr>
            <td>Path</td>
            <td th:text="${path}"/>
        </tr>
        <tr>
            <td>Error</td>
            <td th:text="${error}"/>
        </tr>
        <tr>
            <td>Status</td>
            <td th:text="${status}"/>
        </tr>
        <tr>
            <td>Message</td>
            <td th:text="${message}"/>
        </tr>
        <tr>
            <td>Exception</td>
            <td th:text="${exception}"/>
        </tr>
    </table>

</div>

</body>
</html>